@import 'color.styl'


body
	text-align center
.home
	h3
		color $red
	table
		display block
		margin 0 auto
		width 80%
		tr
			th
				background $gray2
				padding 0 1em
				border 1px solid $gray
			td
				border 1px solid $gray
			
.venta
	.title
		background $azul3
		color $blanco