@import 'normalize.styl'
@import 'contenidos.styl'
@import 'color.styl'
@import 'nib/vendor'

vendor-prefixes= o moz webkit ms



ul
	margin 0
	padding 0
a
	color inherit
	text-decoration none
	
#menu 
	border-bottom 1px solid $azul1
	border-top 1px solid $azul1
	background $azul1
	color #D4E3EC
	height 60px
	position relative
	z-index 100
	ul 
		margin 0
		padding 0
		display inline-block
		vertical-align top
		li
			transition ease-out all .2s
			display inline-block
			vertical-align top
			width 125px
			padding 1em 0
			text-align center
			height 100%
			&:hover
				cursor pointer
				background $azul2
				color #fff
			&:hover>ul
				display block
			ul
				background $azul2
				position relative
				top 1em
				display none
				width 200%
				li 
					border-bottom 1px solid $azul4
					position relative
					text-align left
					width 100%
					&:hover
						background $azul3
					span
						margin-left .5em
					ul
						background $azul3
						display none
						position absolute
						top 0
						width auto
						left 100%
						li 
							background $azul4
							text-align center
							a
								margin 0 .5em
	div
		display inline-block
		vertical-align top
		background $azul2
		height 100%
		p
			margin 0 1em
			text-align center
			height 50%
		button
			border none
			color $blanco
			background $red
			height 100%
			width 100%
	.opc
		float right
							
