html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:bold}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
body{text-align:center}
.home h3{color:#f15454}
.home table{display:block;margin:0 auto;width:80%;}
.home table tr th{background:#e5ebee;padding:0 1em;border:1px solid #d4dfe4}
.home table tr td{border:1px solid #d4dfe4}
.venta .title,.compra .title,.cliente .title{background:#0c5061;}
.venta .title h3,.compra .title h3,.cliente .title h3{color:#fff}
ul{margin:0;padding:0}
a{color:inherit;text-decoration:none}
#menu{border-bottom:1px solid #1cabcf;border-top:1px solid #1cabcf;background:#1cabcf;color:#d4e3ec;height:60px;position:relative;z-index:100;}
#menu ul{margin:0;padding:0;display:inline-block;vertical-align:top;}
#menu ul li{-o-transition:ease-out all 0.2s;-moz-transition:ease-out all 0.2s;-webkit-transition:ease-out all 0.2s;-ms-transition:ease-out all 0.2s;display:inline-block;vertical-align:top;width:125px;padding:1em 0;text-align:center;height:100%;}
#menu ul li:hover{cursor:pointer;background:#17809b;color:#fff}
#menu ul li:hover>ul{display:block}
#menu ul li ul{background:#17809b;position:relative;top:1em;display:none;width:200%;}
#menu ul li ul li{border-bottom:1px solid #1a6574;position:relative;text-align:left;width:100%;}
#menu ul li ul li:hover{background:#0c5061}
#menu ul li ul li span{margin-left:.5em}
#menu ul li ul li ul{background:#0c5061;display:none;position:absolute;top:0;width:auto;left:100%;}
#menu ul li ul li ul li{background:#1a6574;text-align:center;}
#menu ul li ul li ul li a{margin:0 .5em}
#menu div{display:inline-block;vertical-align:top;background:#17809b;height:100%;}
#menu div p{margin:0 1em;text-align:center;height:50%}
#menu div button{border:none;color:#fff;background:#f15454;height:100%;width:100%}
#menu .opc{float:right}
